	<link rel="stylesheet" type="text/css" href="<%=assetPath("css/forgotPass.css")%>">
<body>
	<div class="container">
		<div class="img">
			<img src="<%=assetPath("images/bg.svg")%>">
		</div>
		<div class="login-content">
			<form action="/users/reset-password" method="post" autocomplete="off">
				<img src="/images/avatar.svg">
        <h2 class="title">Forgot your password?</h2>
        <p>Stuff happens, we get it. Just enter your email address below and we'll send you a link to reset your password!</p>
        <br>
           		<div class="input-div one">
                 &nbsp; 
                  <div class="div">
           		   		<h5>Email Address</h5>
           		   		<input type="text" class="input" name="email">
           		   </div>
           		</div>
           		
            	
               <button type="submit" class="btn">Submit</button>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="<%=assetPath("js/signin.js")%>"></script>
</body>
</html>
