









      <link rel="stylesheet" href="<%=assetPath("css/institute-register.css")%>">
   <body>
      <div class="container">
         <div class="image">
            <img src="<%=assetPath("images/collab.svg")%>" alt="">
         </div>
         <div class="form">
            <h3>Let's get you started!</h3>
            <form id="details" method="POST" action="/organizations/instituteDetails">
               <div class="row">
                  <label for="Email address">Email address</label>
                  <input type="email" name="admin" placeholder="Your email address ..." required>
               </div>
               <div class="row">
                  <label for="Institution">Your Institution</label>
                  <input type="text" class="form-control mb-4" name="name" placeholder="Name of institute" required>
               </div>
               <div class="row">
                  <label for="Organization">Organization</label>
                  <input type="text" name="organization" placeholder="Organization ex - iiitkota.ac.in" required>
               </div>
               <div class="row">
                  <label for="Acronym">Acronym</label>
                  <input type="text"  placeholder="Acronym ex - IIITK" name="acronym" required>
               </div>
               <div class="row">
                  <label for="Motto">Motto</label>
                  <input type="text" name="motto" placeholder="Motto" required>
               </div>
               <div class="row">
                  <label for="Address">Address</label>
                  <textarea id="exampleFormControlTextarea2" rows="3" placeholder="ADDRESS" name="address" required></textarea>
               </div>
               <div class="row">
                  <button type="submit"  class="btn">Submit</button> 
               </div>
            </form>
         </div>
      </div>
   </body>
</html>