
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="HandheldFriendly" content="true">
	<title>Student | Thunder Meet</title>
   <link rel="stylesheet" href="<%=assetPath('css/student_dashboard.css')%>">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$(document).ready(function(){
			$(".hamburger").click(function(){
			   $(".wrapper").toggleClass("collapse");
			});
		});
	</script>
</head>
<body>
<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="one"></div>
       <div class="two"></div>
       <div class="three"></div>
    </div>
    <div class="top_menu">
      <div class="logo"><img src="<%=assetPath('images/logo.png')%>" style="height: 80px;width: 80px;"></div>
      <ul>
        <li><a href="#">
          <i class="fas fa-search"></i></a></li>
        <li><a href="#">
          <i class="fas fa-bell"></i>
          </a></li>
        <li><a href="#">
          <i class="fas fa-user"></i>
          </a></li>
      </ul>
    </div>
  </div>
  
  <div id="tabs" class="sidebar">
      <ul>
        <li><a id="b1"  class="active">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="title">
           <!-- <button id="b1" >Home</button>  -->
            Home
         
          </span></a></li>
        <li><a id="b2" href="#tabs-classes">
          <span class="icon"><i class="fas fa-hourglass"></i></span>
          <span class="title">
             Classes
             <!-- <button id="b2" >Classes</button> -->
            </span>
          </a></li>
        <li><a id="b3" href="#tabs-assignments">
          <span class="icon"><i class="fas fa-tasks"></i></span>
          <span class="title">
             Assignments
             <!-- <button id="b3" >Assignments</button> -->
            </span>
          </a></li>
        <li><a id="b4" href="#tabs-profile">
          <span class="icon"><i class="fas fa-user"></i></span>
          <span class="title">
            <!-- <button id="b4" >Profile</button> -->
            Profile
            </span>
          </a></li>
        <li><a id="b5" href="#tabs-report">
          <span class="icon"><i class="fas fa-flag"></i></span>
          <span class="title">
             Report
             <!-- <button id="b5">Report</button> -->
            </span>
          </a></li>
    </ul>
  </div>
  
  <div id="c1" class="main_container" >
      <div class="item">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%=user.avatar%>" alt="Card image cap">
            <div class="card-body">
            <p class="card-text">Hi <%=user.name%> ! All your assignments are complete till d. Good job.</p>
            </div>
         </div>
      </div>
  </div>
  <div id="c2" class="main_container">
   <div class="item">
     Content 2
   </div>
   </div>
   <div id="c3" class="main_container">
      <div class="item">
        Content 3
      </div>
    </div>
    <div id="c4" class="main_container">
      <div class="item">
        Content 4
      </div>
    </div>
    <div id="c5" class="main_container">
      <div class="item">
        Content 5
      </div>
    </div>

    <script>
       document.getElementById("b1").addEventListener("click",function(){
         var content1 = document.getElementById("c1");
         if(content1.style.display=="none"){
            content1.style.display="block";
         }else{
            content1.style.display="none";
         }
       });
       document.getElementById("b2").addEventListener("click",function(){
         var content1 = document.getElementById("c2");
         if(content1.style.display=="none"){
            content1.style.display="block";
         }else{
            content1.style.display="none";
         }
       });
       document.getElementById("b3").addEventListener("click",function(){
         var content1 = document.getElementById("c3");
         if(content1.style.display=="none"){
            content1.style.display="block";
         }else{
            content1.style.display="none";
         }
       });
       document.getElementById("b4").addEventListener("click",function(){
         var content1 = document.getElementById("c4");
         if(content1.style.display=="none"){
            content1.style.display="block";
         }else{
            content1.style.display="none";
         }
       });
       document.getElementById("b5").addEventListener("click",function(){
         var content1 = document.getElementById("c5");
         if(content1.style.display=="none"){
            content1.style.display="block";
         }else{
            content1.style.display="none";
         }
       });
    </script>

</body>
</html>