
<link rel="stylesheet" type="text/css" href="/css/signup.css">
<body>
      <div class="container">
         <div class="img">
            <img src="/images/forms.svg">
         </div>
         <div class="login-content">
            <form>
               <img src="/images/avatar.svg">
               <h2 class="title" style="color: #683aa4;">Welcome</h2>
                
                     <a href="auth/google" class="btn">   Google Sign up</a>
                     <p><b>Once you've logged in, proceed <a href="#info_form" style="display: inline;">here</a> and fill your details.  
                        Please note that If your do not fill you details, you will not receive notifications.
                        </b></p>
               </form>
         </div>
      </div>


    <script type="text/javascript" src="/js/signin.js"></script>
</body>
