<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="HandheldFriendly" content="true">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="/images/logo.png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Signup | Thunder Meet</title>
    <style>
       *{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
       }

       body::-webkit-scrollbar {
         width: 0.8em;
       }
      
       body::-webkit-scrollbar-track {
         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
       }

       body::-webkit-scrollbar-thumb {
         background-color: #FC5C7D   ;
         outline: 1px solid rgb(130, 138, 146);
       }

       body {
         /* background: rgb(219,226,226);
         background: #4e73df; */
         background: #4e73df;
         background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
         background: linear-gradient(to right, #FC5C7D, #6A82Fb); 
       }

      .row {
         background: white;
         border-radius: 30px;
         box-shadow: 12px 12px 22px grey;
      }
      img {
         border-top-left-radius: 30px;
         border-bottom-left-radius: 30px;
      }
      h1 {
         color: #683aa4;
      }
      p {
         color: #683aa4;
      }
      .btn1 {
         border: none;
         outline: none;
         height: 50px;
         width: 100%;
         /* background-color: black; */
         background-color: #683aa4;
         color: white;
         border-radius: 4px;
         font-weight: bold;
      }
      .btn1:hover {
         background: white;
         border: 1px solid;
         color: #683aa4;
       }

       #no-overflow {
          height: 600px;
          overflow-y: auto;
          overflow-x: hidden;
       }

       #no-overflow::-webkit-scrollbar {
         width: 0.8em;
       }
      
       #no-overflow::-webkit-scrollbar-track {
         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
       }

       #no-overflow::-webkit-scrollbar-thumb {
         background-color: #FC5C7D   ;
         outline: 1px solid rgb(130, 138, 146);
       }
    </style>
  </head>
  <body>
   <section class="Form my-4 mx-5" id="upper-part" style="display: block;">
      <div class="container">
         <div class="row no-gutters">
            <div class="col-lg-5">
               <img src="/images/form_main.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-7 px-5 pt-5">
               <h1 class="font-weight-bold py-3">THUNDER MEET</h1>
               <h3 class="font-weight-bold py-3" style="color: #683aa4;">Join us! <br> It's gonna be one hell of a journey.</h3>
               <form>
                  <br>
                  <div class="form-row">
                     <div class="col-lg-7">
                        <button type="button" id="google_btn" class="btn1 mt-3 mb-5" ">
                          <a href="auth/google" target="_blank"><img src="/images/logo2.png" style="height: 30px;width: 30px;"> SignUp using Google</a>
                        </button>
                     </div>
                  </div>
               </form>
               <br>
               <p><b>Once you've logged in, proceed <a href="#info_form">here</a> and fill your details.  
               Please note that If you do not fill you details, you will not receive notifications.
               </b>
               </p>
            </div>
         </div>
      </div>
   </section>
 

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>