<div>
    <p>Hi <%=comment.user.name%>!</p>
    <br>
    <br>
    <p>Your Comment <strong><%=comment.content%></strong> just got published on sumit's Website Social Media.</p>
    <br>
    <br>
    <p>thanks!</p>
</div>