@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

body::-webkit-scrollbar {
  width: 0.5em; }

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb {
  background-color: #2e4ead;
  outline: 1px solid slategrey; }

body {
  background: #e1ecf2; }

.wrapper {
  margin: 10px;
  z-index: 10000; }

.wrapper .top_navbar {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  box-shadow: 0.1px 2px rgba(0, 0, 0, 0.1);
  z-index: 1000; }

.wrapper .top_navbar .hamburger {
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer; }

.wrapper .top_navbar .hamburger div {
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px; }

.wrapper .top_navbar .top_menu {
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.wrapper .top_navbar .top_menu .logo {
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px; }

.top_menu .navbar-right img {
  width: 30px; }

.navbar-right {
  display: flex; }

.navbar-right .icon_wrap {
  cursor: pointer; }

.navbar-right .notifications {
  margin-right: 25px; }

.navbar-right .notifications .icon_wrap {
  font-size: 28px; }

.navbar-right .notifications .icon_wrap:hover {
  color: #2e4ead; }

.navbar-right .profile .icon_wrap:hover {
  color: #2e4ead; }

.navbar-right .notifications, .navbar-right .profile {
  position: relative; }

.notification_dd, .profile_dd {
  position: absolute;
  top: 48px;
  right: 0;
  background-color: #fff;
  height: auto;
  width: 350px;
  border: 1px solid #c78ed2;
  border-radius: 3px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.125), -10px -10px 30px rgba(0, 0, 0, 0.125);
  display: none; }

.notification_dd:before, .profile_dd:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent; }

.notification_dd li .notify_icon {
  display: flex; }

.notification_dd li {
  border-bottom: 1px solid #f1f2f4;
  padding: 10px 20px;
  display: flex;
  align-items: center; }

.notification_dd li:last-child {
  border-bottom: 0; }

.notification_dd li .notify_icon .icon {
  background: url(/images/isha.jpg) no-repeat 0 0;
  width: 40px;
  height: 42px; }

.notification_dd li.baskin_robbins .notify_icon .icon {
  background-position: 0 -43px; }

.notification_dd li.kfc .notify_icon .icon {
  background-position: 0 -178px; }

.notification_dd li.mcd .notify_icon .icon {
  background-position: 0 -86px; }

.notification_dd li.pizza_hut .notify_icon .icon {
  background-position: 0 -129px; }

.notification_dd li .notify_data {
  margin: 0 15px;
  width: 185px; }

.notification_dd li .notify_data .title {
  color: #000;
  font-weight: 600;
  font-size: 15px; }

.notification_dd li .notify_data .sub_title {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px; }

.notification_dd li .notify_status p {
  font-size: 12px; }

.notification_dd li.success .notify_status {
  color: #47da89; }

.notification_dd li.failed .notify_status {
  color: #fb0001; }

.notification_dd li.show_all {
  padding: 20px;
  display: flex;
  justify-content: center; }

.notification_dd li.show_all p {
  font-weight: 700;
  color: #3b80f9;
  cursor: pointer; }

.notification_dd li.show_all p:hover {
  text-decoration: underline; }

.profile .icon_wrap {
  display: flex;
  align-items: center; }

.profile .name {
  display: inline-block;
  margin: 0 10px; }

.navbar_right .icon_wrap:hover, .profile.active .icon_wrap, .notifications.active .icon_wrap {
  color: #3b80f9; }

.profile .profile_dd {
  width: 225px; }

.profile .profile_dd:before {
  right: 10px; }

.profile .profile_dd ul li {
  border-bottom: 1px solid #f1f2f4; }

.profile .profile_dd ul li:last-child {
  border-bottom: 0px; }

.profile .profile_dd ul li a {
  display: block;
  padding: 15px 35px;
  position: relative; }

.profile .profile_dd ul li a .picon {
  width: 30px;
  display: inline-block; }

.profile .profile_dd ul li a:hover {
  /* color: #3b80f9;
	 */
  cursor: pointer;
  /* background: #f0f5ff;
	 */
  background-color: #2e4ead;
  color: white; }

.profile .profile_dd ul li.profile_li a:hover {
  /* background: transparent ;
	 */
  cursor: pointer;
  /* color: #3b80f9;
	 */
  background-color: #2e4ead;
  color: white; }

.profile .profile_dd ul li .btn {
  height: 32px;
  width: 125px;
  background: #3b80f9;
  padding: 7px 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  margin: 5px auto 15px; }

.profile .profile_dd ul li .btn:hover {
  background: #6593e4;
  /* background: #683aa4;
	 */
  /* color: #fff;
	 */ }

.profile.active .profile_dd, .notifications.active .notification_dd {
  display: block; }

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100000; }

.popup.active {
  display: block; }

.popup .shadow {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5; }

.popup .popup_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.popup .popup_inner .notification_dd {
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto; }

.popup .popup_inner .notification_dd:before {
  display: none; }

.popup .popup_inner .notification_dd li.title {
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: #3b80f9;
  position: relative; }

.popup .popup_inner .notification_dd li .close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer; }

.popup .popup_inner .notification_dd li .close:hover {
  opacity: 0.5; }

.notification_dd::-webkit-scrollbar {
  width: 0.5em; }

.notification_dd::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.notification_dd::-webkit-scrollbar-thumb {
  background-color: #2e4ead;
  outline: 1px solid slategrey; }

.popup::-webkit-scrollbar {
  width: 0.5em; }

.popup::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.popup::-webkit-scrollbar-thumb {
  background-color: #2e4ead;
  outline: 1px solid slategrey; }

.popup_inner::-webkit-scrollbar {
  width: 0.5em; }

.popup_inner::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.popup_inner::-webkit-scrollbar-thumb {
  background-color: #2e4ead;
  outline: 1px solid slategrey; }

/* .wrapper .top_navbar .top_menu ul{
	 display: flex;
}
 .wrapper .top_navbar .top_menu ul li a{
	 display: block;
	 margin: 0 10px;
	 width: 35px;
	 height: 35px;
	 line-height: 35px;
	 text-align: center;
	 border: 1px solid #2e4ead;
	 border-radius: 50%;
	 color: #2e4ead;
}
 .wrapper .top_navbar .top_menu ul li a:hover{
	 background: #4360b5;
	 color: #fff;
}
 .wrapper .top_navbar .top_menu ul li a:hover i{
	 color: #fff;
}
 */
.wrapper .sidebar {
  position: fixed;
  top: 60px;
  left: 10px;
  background: #2e4ead;
  width: 200px;
  height: calc(100% - 60px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
  overflow: auto; }

.wrapper .sidebar::-webkit-scrollbar {
  width: 0.8em; }

.wrapper .sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.wrapper .sidebar::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 1px solid slategrey; }

.wrapper .sidebar ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 1px;
  color: #92a6e2;
  white-space: nowrap; }

.wrapper .sidebar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none; }

.wrapper .sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block; }

.wrapper .sidebar ul li a span.title {
  display: inline-block; }

.wrapper .sidebar ul li a:hover, .wrapper .sidebar ul li a.active {
  cursor: pointer;
  background: #4360b5;
  color: #fff; }

.wrapper .sidebar ul li a:hover:before, .wrapper .sidebar ul li a.active:before {
  display: block; }

.wrapper .main_container {
  /* width: (100% - 200px);
	 */
  height: auto;
  min-height: 700px;
  overflow: auto;
  margin-top: 60px;
  margin-left: 200px;
  padding: 40px;
  transition: all 0.3s ease;
  padding-left: 40px; }

.summaryCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.contentCard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  width: 37%;
  transition: 0.3s; }

.summaryCards .contentCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  border-left: 5px solid green;
  height: 120px;
  width: 30%;
  transition: 0.3s; }

.summaryCards .contentCard .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left; }

.summaryCards .contentCard .sideLogo {
  color: #2e4ead;
  /* color: #ffa500 ;
	 */
  margin-right: 10px; }

.mainCards {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.mainCards .contentCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  border-left: 5px solid blue;
  height: 200px;
  width: 30%;
  transition: 0.3s; }

.mainCards .contentCard .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  line-height: 50px;
  /* padding: 40px;
	 */ }

.contentCard img {
  height: 350px;
  padding: 10px;
  margin-top: 20px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.contentCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.contentCard .container {
  padding: 2px 16px; }

.wrapper .main_container .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 30px;
  display: block;
  font-size: 14px;
  line-height: 22px; }

.wrapper.collapse .sidebar {
  width: 70px; }

.wrapper.collapse .sidebar ul li a {
  text-align: center; }

.wrapper.collapse .sidebar ul li a span.icon {
  margin: 0; }

.wrapper.collapse .sidebar ul li a span.title {
  display: none; }

.wrapper.collapse .main_container {
  width: 99.2708333333%;
  margin-left: 70px; }

#c2 .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2e4ead;
  color: white;
  width: 100%;
  height: auto;
  min-height: 50px; }

#c2 .choices {
  margin-top: 50px;
  color: #2e4ead;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }

#c2 .choices .thunder-meet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px; }

#c2 .choices .google-meet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 50px; }

#c2 .choices .thunder-meet img {
  height: 130px;
  width: 130px; }

#c2 .choices .google-meet img {
  height: 60px;
  width: 60px;
  margin-top: 35px; }

#c4 .summaryCards .contentCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  border-left: 5px solid green;
  height: auto;
  width: auto;
  transition: 0.3s;
  line-height: 40px; }

#c5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  width: auto;
  z-index: -10; }

#c5 h1 {
  color: #2e4ead;
  font-weight: 700; }

#c5 .inputBox {
  position: relative;
  width: 100%;
  margin-top: 50px; }

#c5 input, textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
  z-index: 10; }

#c5 span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.3s;
  color: #666; }

#c5 input:focus ~ span {
  color: #2e4ead;
  font-size: 12px;
  transform: translateY(-20px); }

#c5 input:valid ~ span {
  color: #2e4ead;
  font-size: 12px;
  transform: translateY(-20px); }

#c5 textarea:focus ~ span {
  color: #2e4ead;
  font-size: 12px;
  transform: translateY(-20px); }

#c5 textarea:valid ~ span {
  color: #2e4ead;
  font-size: 12px;
  transform: translateY(-20px); }

#c5 input[type="submit"] {
  width: 100%;
  background: #2e4ead;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px; }

#c5 input[type="submit"]:hover {
  background: #fff;
  color: #2e4ead; }

#c6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }

#c6 .video-wrapper {
  display: flex;
  flex-direction: column; }

#c6 .video-wrapper .title {
  margin-top: -20px;
  color: white;
  background: #2e4ead;
  display: flex;
  width: auto;
  height: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px; }

#date {
  height: 50px;
  width: auto;
  margin: auto;
  margin-top: 50px;
  background: #2e4ead;
  font-size: xx-large;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 1060px) {
  .summaryCards {
    flex-direction: column;
    align-items: flex-start;
    width: auto; }
  .summaryCards .contentCard {
    width: 100%;
    min-width: 70%;
    height: 200px; }
  .summaryCards .contentCard .info {
    width: 100%; }
  #date {
    min-width: 100%;
    height: auto; }
  .mainCards {
    flex-direction: column;
    align-items: flex-start;
    width: auto; }
  .mainCards .contentCard {
    width: 100%;
    min-width: 70%;
    height: 300px; }
  .mainCards .contentCard .info {
    width: 90%; }
  .mainCards .contentCard .info button {
    width: 70%; }
  .notification_dd {
    position: absolute;
    top: 48px;
    /* right: -100px;
		 */
    left: -140px;
    background-color: #fff;
    width: 350px;
    height: 220px;
    margin-left: -20px;
    border: 1px solid #c78ed2;
    border-radius: 3px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.125), -10px -10px 30px rgba(0, 0, 0, 0.125);
    overflow-x: hidden;
    overflow-y: scroll;
    display: none; }
  .popup_inner {
    position: absolute;
    top: 50px;
    /* right: -100px;
		 */
    left: -100px;
    background-color: #fff;
    width: 360px;
    height: 220px;
    margin-left: 10px;
    /* margin-left: -20px;
		 */
    border: 1px solid #c78ed2;
    border-radius: 3px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.125), -10px -10px 30px rgba(0, 0, 0, 0.125);
    overflow-x: hidden;
    overflow-y: scroll; }
  #c2 .choices {
    margin-top: 50px;
    color: #2e4ead;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
  #c5 .inputBox {
    position: relative;
    width: 100%;
    margin-top: 30px; }
  #c6 .title {
    max-width: 100%;
    height: 100%; }
  #c6 .vid video {
    width: 100%;
    height: auto !important;
    min-height: 300px; } }
