<div class="animated bounce z-depth-4">
    <div style="width: 100%; text-align: center; font-size: 18px; color: #3b3b3b;"
    <p style="font-weight: 900;">Hi <%=passwordToken.user.name%>,</p>
    <p>
                you recently requested to reset your password for your Thunder Bird account. Click the button below to reset it.
        </p>

        <div style="width: 100%; text-align: center;">
            <button style="background: orange; outline: none; width: auto; height: 50px; border: none; box-shadow:0 5px 10px black; font-size: 25px;"> <a href="http://thethunder.ml/users/reset-password/<%=passwordToken.token%>" style="text-decoration: none; color:black; padding: 20px;"> Reset Your Password</a></button>

        </div>

        <p>
                if you did not request a password reset, please ignore this email or reply to let us know.
                This Password reset is only valid for next 5 minutes <br>
                and do not refresh your page after clicking to the link otherwise your token will be expired due to security reasons. 
                <br>
                <br>

                Thanks,<br>
                The Thunder Bird Corporation Team <br>
                <br>
                <span style="font-weight: 600;">P.S.</span> We also love hearing from you with any issues you have. please reply to this email if you want to ask a question or just say hi. <br>
                <br>
                <br>
                <span>if you're having trouble clicking the password reset button, copy ans paste the URL below into your web browser.</span>
                <br>
                <a href="http://thethunder.ml/users/reset-password/<%=passwordToken.token%>">http://thethunder.ml/users/reset-password/<%=passwordToken.token%></a>

        </p>
    </div>
    <div style="width: 100%; text-align: center;">
        &copy; 2020 Thunder Bird. All rights reserved.
        <span style="width: 100%; text-align: center;">Thunder Bird Corporation,<br> 9 main Street Badbar, <br> Jhunjhunu, Rajsthan <br> <img src="https://img.icons8.com/ios/50/000000/india-map.png" "/> <span style="background: linear-gradient(orange,white,green); padding: 2px;"> INDIA</span> </span>
    </div>
</div>